## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Kodiak,57.7900,-152.4072,56.71,77,100,8.05,US,overcast clouds
1,1,Asau,46.4333,26.4000,52.72,97,100,3.76,RO,overcast clouds
2,2,Waingapu,-9.6567,120.2641,79.00,77,28,9.31,ID,scattered clouds
3,3,Saint-Philippe,-21.3585,55.7679,63.99,83,87,12.01,RE,light rain
4,4,Upernavik,72.7868,-56.1549,44.74,93,100,33.55,GL,light rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 


min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 66
What is your desired maximum temperature for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
2,2,Waingapu,-9.6567,120.2641,79.00,77,28,9.31,ID,scattered clouds
6,6,Torbay,47.6666,-52.7314,71.38,85,83,5.64,CA,broken clouds
7,7,Arcata,40.8665,-124.0828,76.68,86,100,5.99,US,overcast clouds
8,8,Hamilton,39.1834,-84.5333,85.77,62,20,6.91,US,few clouds
10,10,Georgetown,5.4112,100.3354,76.93,94,20,2.30,MY,few clouds
...,...,...,...,...,...,...,...,...,...,...
697,697,Raga,8.4596,25.6780,68.16,98,92,5.88,SS,light rain
698,698,Tarquinia,42.2482,11.7553,73.58,70,64,1.12,IT,broken clouds
701,701,Ahtopol,42.1000,27.9500,72.25,87,83,1.48,BG,light rain
702,702,San Patricio,28.0170,-97.5169,89.55,58,99,13.27,US,overcast clouds
703,703,Gladstone,-23.8500,151.2500,71.78,83,100,9.22,AU,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.


preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                1
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.



clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
2,2,Waingapu,-9.6567,120.2641,79.00,77,28,9.31,ID,scattered clouds
6,6,Torbay,47.6666,-52.7314,71.38,85,83,5.64,CA,broken clouds
7,7,Arcata,40.8665,-124.0828,76.68,86,100,5.99,US,overcast clouds
8,8,Hamilton,39.1834,-84.5333,85.77,62,20,6.91,US,few clouds
10,10,Georgetown,5.4112,100.3354,76.93,94,20,2.30,MY,few clouds
...,...,...,...,...,...,...,...,...,...,...
697,697,Raga,8.4596,25.6780,68.16,98,92,5.88,SS,light rain
698,698,Tarquinia,42.2482,11.7553,73.58,70,64,1.12,IT,broken clouds
701,701,Ahtopol,42.1000,27.9500,72.25,87,83,1.48,BG,light rain
702,702,San Patricio,28.0170,-97.5169,89.55,58,99,13.27,US,overcast clouds
703,703,Gladstone,-23.8500,151.2500,71.78,83,100,9.22,AU,overcast clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Waingapu,ID,79.00,scattered clouds,-9.6567,120.2641,
6,Torbay,CA,71.38,broken clouds,47.6666,-52.7314,
7,Arcata,US,76.68,overcast clouds,40.8665,-124.0828,
8,Hamilton,US,85.77,few clouds,39.1834,-84.5333,
10,Georgetown,MY,76.93,few clouds,5.4112,100.3354,
15,Auki,SB,83.39,broken clouds,-8.7676,160.7034,
21,Puerto Ayora,EC,68.56,overcast clouds,-0.7393,-90.3518,
23,Bathsheba,BB,82.38,scattered clouds,13.2167,-59.5167,
26,Faanui,PF,78.76,clear sky,-16.4833,-151.7500,
29,Itoman,JP,79.18,shower rain,26.1247,127.6694,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found, skipping.")

Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.
Hotel not found, skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.


clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Waingapu,ID,79.00,scattered clouds,-9.6567,120.2641,Pondok Wisata Elim
6,Torbay,CA,71.38,broken clouds,47.6666,-52.7314,Gallows Cove
7,Arcata,US,76.68,overcast clouds,40.8665,-124.0828,"Hampton Inn & Suites Arcata, CA"
8,Hamilton,US,85.77,few clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
10,Georgetown,MY,76.93,few clouds,5.4112,100.3354,Cititel Penang

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))